{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
        integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
        integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'course.css' %}">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">

</head>

<body>
    <section class="hero">
        <div class="hero-head">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{% url 'product_list' %}">
                        <img src="{% static 'images/bulma.png' %}" width="112" height="28">
                    </a>

                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                        data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>

                </div>

                <div class="navbar-menu" id="navbarBasiExample">
                    <div class="navbar-start">
                        {% for brand in brands %}
                        <div class="navbar-item my-5">
                            <a href="{% url 'product_list' %}?brand={{brand.pk}}" style="position:relative; left:30px;">
                                {{ brand }}
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>



                <div class="navbar-end">

                    <form action="{% url 'product_list' %}" method="get">
                        <div class="field has-addons mt-4 mr-2" style="position:relative; margin:20px 5px;">
                            <div class="control">
                                <input class="input" type="search" placeholder="Find a product" name="search">
                            </div>
                            <div class="control">
                                <button class="button is-info" type="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                    {% if user.is_authenticated %}
                    

                    <span class="navbar-item">
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    Welcome <span class="has-text-weight-bold mx-1">{{ user }}</span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="{% url 'edit_profile' %}" class="dropdown-item">
                                        Edit profile
                                    </a>
                                    <a href="{% url 'reset_password' %}" class="dropdown-item">
                                        Reset password
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="{% url 'sign_out' %}" class="dropdown-item">
                                        Sign out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </span>
                     
                    <a href="{% url 'orders' %}" class="navbar-item order">
                        <button class="button is-dark">
                           Orders
                        </button>
                    </a>    

                    <a href="{% url 'cart' %}" style="position:relative; top:20px; padding-left:10px; ">
                        <button class="button is-success">
                            <ion-icon name="cart-outline" class="mr-2"></ion-icon>
                            Cart
                        </button>
                    </a>
            
                    <a href="{% url 'sign_out' %}" class="button is-warning"
                        style="position:relative; top:19px; margin:0 10px;">
                        Sign out
                    </a>
                    {% else %}
                    <a href="{% url 'sign_out' %}" class="button is-danger"
                        style="position:relative; top:19px; margin:0 10px;">
                        Sign out
                    </a>
                    {% endif %}
                </div>



            </nav>
        </div>
        <div class="hero-body">
            {% block auth %}
            {% endblock %}
            <br><br>
            {% block slider %}
            {% endblock %}
            <br><br><br><br><br>

            {% block content %}
            {% endblock %}
        </div>
    </section>



    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
    <script>
        bulmaCarousel.attach('#carousel-demo', {
            slidesToScroll: 1,
            slidesToShow: 1,
            infinite: true,
        });
    </script>



</body>

</html>